@model RaoVar247.Models.User
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="profile">
        <div class="p-left">
            <div class="avatar">
                <img src="~/Content/Images/select-image-vector-12503576.jpg" alt="">
            </div>
            <div class="title">
                <h3 class="user-name" style="margin-top:8px;">@Model.LastName @Model.FirstName</h3>
                <p class="follower">10 theo dỗi</p>
                <button type="button">Theo dõi</button>
            </div>
        </div>
        <div class="p-right">
            <p class="address">Địa Chỉ : @Model.Address</p>
            <p class="date-join">Ngày tham gia : 1/4/2022</p>
        </div>
    </div>

    <div class="posted-product">
        <div class="title">
            <h3>Tin đã đăng</h3>
            <hr style="color:#000;margin:8px 0">
        </div>
        <div class="content">
            @{ Html.RenderAction("GetListProductByUser", "Home", new { userId = Model.UserId });}
          
            <div class="page-devided">
                <p class="page-number">1</p>
                <p class="page-number">2</p>
                <p class="page-number">3</p>
                <p class="page-number">4</p>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/CSS/profile.css" rel="stylesheet" type="text/css" />
}


