<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">

    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/post.css">
    <link rel="stylesheet" href="~/Content/modal.css">
    <link rel="stylesheet" href="~/Content/CSS/login.css">
    <link rel="stylesheet" href="~/Content/CSS/drop-down.css">

    <style>
        body {
            background-image: url(/Content/bgw2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <title>Trang chủ</title>

</head>
<body>
    <div id="web">
        <header>
            <div class="content">

                <div class="row-h">
                    <div class="logo">
                        <img id="logo" src="/da.jpg" alt="">
                    </div>
                </div>
                <div class="row-h">
                    <div id="search">
                        <form action="" method="get">
                            <input id="searchtb" type="text" placeholder="Tìm kiếm sản phẩm ..." />
                            <button id="submitbt" type="submit">
                                Tìm kiếm
                            </button>
                        </form>
                    </div>
                    <a href="/Home/PostNewProduct/">
                    <input id="postnewbt" type="button" value="Đăng tin">
                    </a>
                    <div class="user-cell">
                        @if (Session["UserName"] != null)
                        {
                            <img src="~/Content/avatar.png" alt="" style="border-radius:90%;width:20px" />
                            <p class="username">@Session["FirstName"]</p>
                            <div class="drop-down-board">
                                <ul>
                                    <li> <a href="">Trang cá nhân</a> </li>
                                    <li> <a href="">Bài đăng của bạn</a> </li>
                                    <li> <a href="">Tin đã lưu</a> </li>
                                    <li> <a href="">Đổi mật khẩu</a></li>
                                    <li> <a href="">Đẵng xuất</a> </li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <a href="/User/Login">
                                <img src="~/Content/avatar.png" alt="" style="border-radius:90%;width:20px" />
                                <p class="username">Guest</p>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </header>
        <nav>
            <ul id="nav">
                <li> <a href="">Danh mục sản phẩm</a> </li>
                <li> <a href="">Tin tức</a> </li>
                <li> <a href="">Dịch vụ</a> </li>
                <li> <a href="">Liên hệ</a> </li>

            </ul>
        </nav>
        <div id="poster">
            <img src="/poster.jpg" alt="">
        </div>
        @RenderBody();

        <footer>
            <p>Raovat247 --- Copy-right By Nguyen Duy Khanh</p>
        </footer>
    </div>
</body>
</html>