@{
    ViewBag.Title = "Home Page";
}

<div id="category-list">
    <h4 class="title">Danh mục sản phẩm</h4>
    <hr>
    <div id="list">
        <div class="category-item">
            <a href="">
                <img src="/under-the-sea.jpg" alt="">
                <div class="category-name">
                    <p>Đồ điện tử</p>
                </div>
            </a>
        </div>
        <div class="category-item">
            <a href="">
                <img src="/under-the-sea.jpg" alt="">
                <div class="category-name">
                    <p>Đồ điện tử 1</p>
                </div>
            </a>
        </div>
        <div class="category-item">
            <a href="">
                <img src="/under-the-sea.jpg" alt="">
                <div class="category-name">
                    <p>Đồ điện tử 2</p>
                </div>
            </a>
        </div>
        <div class="category-item">
            <a href="">
                <img src="/under-the-sea.jpg" alt="">
                <div class="category-name">
                    <p>Đồ điện tử 3</p>
                </div>
            </a>
        </div>
        <div class="category-item">
            <a href="">
                <img src="/under-the-sea.jpg" alt="">
                <div class="category-name">
                    <p>Đồ điện tử 4</p>
                </div>
            </a>
        </div>


    </div>
</div>
<div id="section">
    <h4>Tin đăng gần đây</h4>
    <hr>
    <div class="grid">
        <div class="grid-item">
            <a href="">
                <img src="co gai.jpg" alt="">
                <p class="product-name">Product Name</p>
                <p class="product-price">1.300.000 vnđ</p>
                <p class="user-name">Khánh</p>
                <div class="info-row">
                    <p class="post-time">3 ngày trước</p>
                    <p> | </p>
                    <p class="address">Hà Nội</p>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a href="">
                <img src="co gai.jpg" alt="">
                <p class="product-name">Product Name</p>
                <p class="product-price">1.300.000 vnđ</p>
                <p class="user-name">Khánh</p>
                <div class="info-row">
                    <p class="post-time">3 ngày trước</p>
                    <p> | </p>
                    <p class="address">Hà Nội</p>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a href="">
                <img src="co gai.jpg" alt="">
                <p class="product-name">Product Name</p>
                <p class="product-price">1.300.000 vnđ</p>
                <p class="user-name">Khánh</p>
                <div class="info-row">
                    <p class="post-time">3 ngày trước</p>
                    <p> | </p>
                    <p class="address">Hà Nội</p>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a href="">
                <img src="co gai.jpg" alt="">
                <p class="product-name">Product Name</p>
                <p class="product-price">1.300.000 vnđ</p>
                <p class="user-name">Khánh</p>
                <div class="info-row">
                    <p class="post-time">3 ngày trước</p>
                    <p> | </p>
                    <p class="address">Hà Nội</p>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a href="">
                <img src="co gai.jpg" alt="">
                <p class="product-name">Product Name</p>
                <p class="product-price">1.300.000 vnđ</p>
                <p class="user-name">Khánh</p>
                <div class="info-row">
                    <p class="post-time">3 ngày trước</p>
                    <p> | </p>
                    <p class="address">Hà Nội</p>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a href="">
                <img src="co gai.jpg" alt="">
                <p class="product-name">Product Name</p>
                <p class="product-price">1.300.000 vnđ</p>
                <p class="user-name">Khánh</p>
                <div class="info-row">
                    <p class="post-time">3 ngày trước</p>
                    <p> | </p>
                    <p class="address">Hà Nội</p>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a href="">
                <img src="co gai.jpg" alt="">
                <p class="product-name">Product Name</p>
                <p class="product-price">1.300.000 vnđ</p>
                <p class="user-name">Khánh</p>
                <div class="info-row">
                    <p class="post-time">3 ngày trước</p>
                    <p> | </p>
                    <p class="address">Hà Nội</p>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a href="">
                <img src="co gai.jpg" alt="">
                <p class="product-name">Product Name</p>
                <p class="product-price">1.300.000 vnđ</p>
                <p class="user-name">Khánh</p>
                <div class="info-row">
                    <p class="post-time">3 ngày trước</p>
                    <p> | </p>
                    <p class="address">Hà Nội</p>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a href="">
                <img src="co gai.jpg" alt="">
                <p class="product-name">Product Name</p>
                <p class="product-price">1.300.000 vnđ</p>
                <p class="user-name">Khánh</p>
                <div class="info-row">
                    <p class="post-time">3 ngày trước</p>
                    <p> | </p>
                    <p class="address">Hà Nội</p>
                </div>
            </a>
        </div>
        <div class="grid-item">
            <a href="">
                <img src="co gai.jpg" alt="">
                <p class="product-name">Product Name</p>
                <p class="product-price">1.300.000 vnđ</p>
                <p class="user-name">Khánh</p>
                <div class="info-row">
                    <p class="post-time">3 ngày trước</p>
                    <p> | </p>
                    <p class="address">Hà Nội</p>
                </div>
            </a>
        </div>


    </div>
    <div class="page-devided">
        <p class="page-number">1</p>
        <p class="page-number">2</p>
        <p class="page-number">3</p>
        <p class="page-number">4</p>
    </div>
</div>