<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @RenderSection("Styles", required: false)
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody();
</body>
</html>
