<!DOCTYPE html>
<!-- saved from url=(0042)https://coreui.io/demo/4.0/free/index.html -->
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--<base href="./">-->
    <base href=".">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>CoreUI Free Bootstrap Admin Template</title>
    <link rel="manifest" href="https://coreui.io/demo/4.0/free/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="~/Content/CoreUI Free Bootstrap Admin Template_files/simplebar.css">
    <link rel="stylesheet" href="~/Content/CoreUI Free Bootstrap Admin Template_files/simplebar(1).css">

    <link href="~/Content/CoreUI Free Bootstrap Admin Template_files/style.css" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/CoreUI Free Bootstrap Admin Template_files/prism.css">
    <link href="~/Content/CoreUI Free Bootstrap Admin Template_files/examples.css" rel="stylesheet">

    <script type="text/javascript" async=""
            src="~/Content/CoreUI Free Bootstrap Admin Template_files/analytics.js.download"></script>
    <script async="" src="~/Content/CoreUI Free Bootstrap Admin Template_files/js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-118965717-1');
    </script>
    <link href="./CoreUI Free Bootstrap Admin Template_files/coreui-chartjs.css" rel="stylesheet">
    
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/CSS/common.css" />
    <link rel="stylesheet" href="~/Content/CSS/board.css" />
    <link rel="stylesheet" href="~/Content/CSS/modify-action.css" />
    <link rel="stylesheet" href="~/Content/CSS/modal-form.css" />
    
</head>

<body>


    <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
        <div class="sidebar-brand d-none d-md-flex">

            <svg class="sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
                <use xlink:href="assets/brand/coreui.svg#full"></use>
            </svg>
            <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
                <use xlink:href="assets/brand/coreui.svg#signet"></use>
            </svg>
        </div>
        <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="init">
            <div class="simplebar-wrapper" style="margin: 0px;">
                <div class="simplebar-height-auto-observer-wrapper">
                    <div class="simplebar-height-auto-observer"></div>
                </div>
                <div class="simplebar-mask">
                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                        <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                            <div class="simplebar-content" style="padding: 0px;">
            <li class="nav-title">Admin</li>
            <li class="nav-item">
                <a class="nav-link" href="">Thống kê</a>
            </li>
            <li class="nav-title">Dữ liệu</li>
            <li class="nav-item">
                <a class="nav-link" href="">Quản lý danh mục</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Các sản phẩm đã đăng</a>
            </li>
            <li class="nav-title">Phản hồi</li>
            <li class="nav-item">
                <a class="nav-link" href="">Phản hồi từ người dùng</a>
            </li>
            <li class="nav-title">Quảng cáo</li>
            <li class="nav-item">
                <a class="nav-link" href="">QUảng lý quảng cáo</a>
            </li>
 

    
    </div>
    </div>
    </div>
    </div>
    <div class="simplebar-placeholder" style="width: 256px; height: 841px;"></div>
    </div>
    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
        <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
    </div>
    <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
        <div class="simplebar-scrollbar"
             style="height: 328px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
    </div>
    </ul>
    <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
    </div>
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
        <header class="header header-sticky mb-4">
            <div class="container-fluid">
                <button class="header-toggler px-md-0 me-md-3" type="button"
                        onclick="coreui.Sidebar.getInstance(document.querySelector(&#39;#sidebar&#39;)).toggle()">
                </button>
                <a class="header-brand d-md-none" href="https://coreui.io/demo/4.0/free/#">

                </a>

                avatar
                <ul class="header-nav ms-3">
                    <li class="nav-item dropdown">
                        <a class="nav-link py-0" data-coreui-toggle="dropdown"
                           href="" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <div class="avatar avatar-md">
                                <img class="avatar-img"
                                     src="~/Content/avatar.png" alt="user@email.com">
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end pt-0">
                            <div class="dropdown-header bg-light py-2">
                                <div class="fw-semibold">Account</div>
                            </div>
                            <a class="dropdown-item" href="">Updates</a>
                            <a class="dropdown-item" href="">Messages</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="header-divider"></div>
            <div class="container-fluid">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb my-0 ms-2">
                        <li class="breadcrumb-item">
                            <span>Home</span>
                        </li>
                        <li class="breadcrumb-item active"><span>Dashboard</span></li>
                    </ol>
                </nav>
            </div>
        </header>
        <div class="body flex-grow-1 px-3">
            <div class="container-lg">
                @RenderBody();
            </div>
        </div>
        <footer class="footer">
            <div>
                
            </div>
            <div class="ms-auto">
               RaoVar247
            </div>
        </footer>
    </div>

    <script src="./CoreUI Free Bootstrap Admin Template_files/coreui.bundle.min.js.download"></script>
    <script src=".~/Content/CoreUI Free Bootstrap Admin Template_files/simplebar.min.js.download"></script>

    <script src="./CoreUI Free Bootstrap Admin Template_files/prism.js.download"></script>
    <script src="./CoreUI Free Bootstrap Admin Template_files/prism-autoloader.min.js.download"></script>
    <script src="./CoreUI Free Bootstrap Admin Template_files/prism-unescaped-markup.min.js.download"></script>
    <script src="./CoreUI Free Bootstrap Admin Template_files/prism-normalize-whitespace.js.download"></script>

    <script src="./CoreUI Free Bootstrap Admin Template_files/chart.min.js.download"></script>
    <script src="./CoreUI Free Bootstrap Admin Template_files/coreui-chartjs.js.download"></script>
    <script src="~/Content/CoreUI Free Bootstrap Admin Template_files/coreui-utils.js.download"></script>
    <script src=".~/Content/CoreUI Free Bootstrap Admin Template_files/main.js.download"></script>
    <script>
    </script>

</body>

</html>